.App {
  background-color: rgb(53, 53, 53);
  height: 100%;
  width: 100%;
  cursor: url('asset/img/guitar.png') 5 12;
}
#carouselExampleIndicators {
  width: 100%;
  height: 100%;
}
.home-containers{
  background-color: rgba(255, 0, 0, 0.205);
  color: white;
  width: 98vw;
  height: 86vh;
}
.img-size1{
  height: 20vh;
}
.album {
  padding : 5px 5px 5px 5px;
  display: inline-block;
  width: 100%;
  height: 80%;
  overflow: hidden;
  position: relative;
  text-align: center;
}
.picture {
  padding : 5px 5px 5px 5px;
  display: inline-block;
  width: 100%;
  height: 80%;
  overflow: hidden;
  position: relative;
  text-align: center;
}